.chat-profile-event
	img.avatar(src='')
	label
		a(href="/event/detail/#{eventinfo.title}",target="_blank") #{eventinfo.title}
	label
		a(href="#")
.chat-dialogbox
	.chat-dialogbox-chatting
		.history
			span
				i.icon-time
				a.sub-link(href='#')
		ul.unstyled
			for history in histories
				li
					img.avatar(src='')
					label
						a(href='') #{history.uname}
						span #{history.content}
	.chat-dialogbox-faces-list
		ul.unstyled
.chat-inputbox
	input#input-text(type='text',name='content',placeholder='聊天输入..')
	input#input-submit(type='button',onclick='eventSend(this,#{eventinfo.id})',value='发送')
	
script(type="text/javascript")
	document.onkeydown=function(event){
		var key=window.event?window.event.keyCode:event.which;
		if(key==13)
			document.getElementById('input-submit').click();
	}