.chat-profile-event
	img.avatar(src='')
	label
		a(href="/user/#{current.uid}",target="_blank") #{current.uname}
	label
		a(href="#")
.chat-dialogbox
	.chat-dialogbox-chatting
		.history
			span
				i.icon-time
				a.sub-link(href='#')
		ul.unstyled
			for unread in unreadmsgs
				li
					img.avatar(src='')
					label
						a(href="/user/#{unread.uid}",target="_blank") #{unread.uname}
					span #{unread.content}
			
	.chat-dialogbox-faces-list
.chat-inputbox
	input#input-text(type='text',name='content',placeholder='聊天输入..')
	input#input-submit(type='button',onclick='friendSend(this,#{current.uid})',value='发送')
script(type="text/javascript")
	document.onkeydown=function(event){
		var key=window.event?window.event.keyCode:event.which;
		if(key==13)
			document.getElementById('input-submit').click();
	}
	
